{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "> 2%",
            "last 1 version"
          ]
        }
      }
    ],
    ["@babel/preset-react"]
  ],
  "plugins": [
    "@babel/transform-runtime",
    ["transform-class-properties", { "spec": true }],
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
  ]
}